@using EntityLayer.Concrete
@model List<Yemek>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<center><h2> Yemek Listesi</h2></center>
<div><br />
    <form method="post" action="/Yemek/index">
        <table class="table table-hover">
            <tr>
              
                <th>YemekID</th>
                <th>Yemek Adı</th>
                <th>Fiyat</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    
                    <td>@item.YemekID</td>
                    <td>@item.YemekName</td>
                    <td>@item.Fiyat</td>
                    <td><a href="/Yemek/DeleteYemek/@item.YemekID" class="btn btn-danger"> sil</a></td>
                    <td><a href="/Yemek/EditYemek/@item.YemekID" class="btn btn-success"> güncelle</a></td>

                </tr>
            }
        </table>

    </form>
</div>
<a href="/Yemek/AddYemek" class="btn btn-info">Ekle</a>

@*<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="modal-title">satış</h2>

            </div>
            <form>

                <div class="modal-body"></div>.
            </form>
        </div>
    </div>
</div>

<br /><br /><br /><br /><br /><br /><br />*@